<!DOCTYPE html>
<html>

<head>
	<title>GrapeTree</title>
	<link rel="stylesheet" href='static/js/jquery-ui-1.11.4/jquery-ui.min.css'>
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/grapetree.css">
	<!-- LeafletJS CSS -->
  <link rel="stylesheet" href="static/css/leaflet.css"/>
	<!-- CUSTOM
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="cohesive-theme/css/mstree-object.css">
</head>

<body>
	<!--metadata div-->
	<link rel="stylesheet" href="static/js/SlickGrid/slick.grid.css" type="text/css" />
	<link rel="stylesheet" href="static/js/SlickGrid/examples/examples.css" type="text/css" />

	<script src="static/js/SlickGrid/lib/firebugx.js"></script>

	<script src="static/js/SlickGrid/lib/jquery-1.11.2.min.js"></script>
	<script src="static/js/SlickGrid/lib/jquery-ui-1.11.3.min.js"></script>
	<script src="static/js/SlickGrid/lib/jquery.event.drag-2.3.0.js"></script>


	<script src="static/js/SlickGrid/slick.core.js"></script>
	<script src="static/js/SlickGrid/plugins/slick.cellrangedecorator.js"></script>
	<script src="static/js/SlickGrid/plugins/slick.cellrangeselector.js"></script>
	<script src="static/js/SlickGrid/plugins/slick.cellselectionmodel.js"></script>
	<script src="static/js/SlickGrid/slick.formatters.js"></script>
	<script src="static/js/SlickGrid/slick.editors.js"></script>
	<script src="static/js/SlickGrid/slick.grid.js"></script>
	<script src="static/js/SlickGrid/slick.dataview.js"></script>

	<script src="static/js/tree/context.js?version=1"></script>
	<script src="static/js/tree/grid.js?version=1"></script>
	<script src="static/js/tree/help.js?version=1"></script>

	<script src="static/js/spectrum/spectrum.min.js"></script>
	<link rel="stylesheet" href="static/js/spectrum/spectrum.css" type="text/css"/>

	<!--information divs-->
	<div id='welcome-div' style='background:white;padding:10px'>
		<!-- CUSTOM
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div id='welcome-div-close' class="close" onclick="$('#welcome-div').hide()">
			<img src="cohesive-theme/img/iconic/close-circle.svg" alt="Close modal">
		</div>
		<!--span id='welcome-div-close' class="glyphicon glyphicon-remove" onclick="$('#welcome-div').hide()"></span-->
		<!--
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div id='welcome-div-text'>
		</div>
	</div>

	<div id='information-div' class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-sm">
				<div id="modal-header" class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<p align='center'><img id='waiting-image' style='display:none' src='static/js/img/ms_failed_1.png'></img></p>
					<span id='modal-title'></span>
				</div>
				<div class="modal-body">
					<p id='waiting-information'></p>
					<div id='param-panel' style='display:none'>
						<label>Method</label>
						<select id='method-select'>
							<option class='show-tooltip' title='MSTreeV2 uses a directed graph to handle missing data' value='MSTreeV2'>MSTreeV2</option>
							<option class='show-tooltip' title='A traditional Minimum spanning tree + eBurst weighting' value='MSTree'>MSTree</option>
							<option class='show-tooltip' title='A standard Neighbor-Joining algorithm implemented in FastME V2.0' value='NJ'>Standard Neighbour Joining</option>
							<option class='show-tooltip' title='Rapid Neighbour Joining for very large datasets' value='RapidNJ'>RapidNJ</option>
						</select>
						<label><input id='check-memory' type="checkbox" checked /> Check memory usage</label>
					</div>
				</div>
				<div class="modal-footer">
					<button id="modal-ok-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
		<script charset="utf-8">
	  	$("#modal-ok-button").click(function(e){
			var profile_file =  $(this).data("profile_file")
			if (profile_file){
				processProfileFile(profile_file);
				$(this).data("profile_file",null);
				$("#modal-ok-button").html("Close");
				$("#param-panel").hide();
				e.stopImmediatePropagation();
				$("#modal-title").hide();
				showWaitingDialog("Processing Profiles");
			}
		});

		$("#method-select").change(function(e) {
			if ($(this).val() == "MSTree") $("#MST-option").show();
			else $("#MST-option").hide();
		});

		$("#matrix-select").change(function(e) {
			if ($(this).val() == "symmetric") $("#symmetric-option").show();
			else $("#symmetric-option").hide();
		});
	  </script>
	</div><!-- /.modal -->

	<div id='sidebar'>
		<div id='input-output-panel' class='panel panel-default'>
			<div class='panel-heading mst-menu-title' id='file-menu'>
				<b id='input-output-title'>Inputs/Outputs</b>
				<span id='file-menu-icon' class='glyphicon glyphicon-menu-down'> </span>
			</div>
			<div class="panel-body" id='file-menu-panel'>
				<div id='load-panel'>
					<button title='Handles trees, profiles and metadata files' id='button-files' class=''>Load GrapeTree</button>
					<!--span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="getHelpBox('load_files');"></span-->
					<hr>
				</div>
				<div id='save-panel'>
					<!-- CUSTOM
					–––––––––––––––––––––––––––––––––––––––––––––––––– -->
					<div class="help help-tooltip" onclick="getHelpBox('save_grapetree');">
						<img src="cohesive-theme/img/iconic/help-circle.svg" alt="Suggerimento">
					</div>
					<!--
					–––––––––––––––––––––––––––––––––––––––––––––––––– -->
					<button id="save-tree-json">Save GrapeTree</button>
					<!-- span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="getHelpBox('save_grapetree');"></span-->
					<!--br-->
					<!--button id="save-tree-nwk">Save as Newick Tree</button-->
					<!--br-->
					<button id="mst-download-svg">Download SVG</button>
					<!--br-->
				</div>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading mst-menu-title' id='tree-menu'>
				<b id>Tree Layout</b>
				<span id='tree-menu-icon' class='glyphicon glyphicon-menu-right'> </span>
			</div>
			<!--div class="panel-body" id='tree-menu-panel' style='padding:0px;'-->
			<!--br-->
			<div class="panel-body" id='tree-menu-panel'>
				<!-- CUSTOM
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
				<div class="help help-tooltip" onclick="getHelpBox('tree_layout');">
					<img src="cohesive-theme/img/iconic/help-circle.svg" alt="Suggerimento">
				</div>
				<!--
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
				<div class="panel-body-section">
					<button id='button-goback'> Original tree</button>
					<!--button id='button-goback' style='margin-left:15px;' onclick='loadMSTree(tree_raw);if(current_metadata_file) {loadMetadataText(current_metadata_file[0], current_metadata_file[1]);}'> Original tree</button-->
					<!--span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:15px" onclick="getHelpBox('tree_layout');"></span-->
					<!--br-->
					<button id='button-refresh'>Static Redraw</button>
					<!--button id='button-refresh' style='margin-left:15px;'> Static Redraw </button-->
					<!--br-->
					<button id="center-graph-button">Centre Tree</button>
					<!--button id="center-graph-button" style='margin-left:15px;'>Centre Tree</button-->
					<!--br-->
					<label>
						<input id='show-node-tooltip' type="checkbox" checked />
						Show Tooltips
					</label>
				</div><!-- ./panel-body-section -->
				<div class="panel-body-section" id="draggable-area">
					<!--p align='center'-->
						<label>Drag Icon to Rotate:</label>
						<!--span id="rotation-icon" class="glyphicon glyphicon-refresh"></span-->
						<div class="drag-trigger" id="rotation-icon"></div>
						<!--br-->
						<!-- exported in tools -->
						<!--label>Zoom:&nbsp;</label>
					<span onclick="javascript:the_tree.setScale(1.1,true)" class=' zoom-icon glyphicon glyphicon-zoom-in'></span>
					<span onclick="javascript:the_tree.setScale(0.9,true)" class='zoom-icon glyphicon glyphicon-zoom-out'></span -->
					<!--/p -->
				</div><!-- ./panel-body-section -->
			</div>
		</div>
		<!-- CUSTOM - SUBPANEL EXTRACTION
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<!--div class='panel panel-default sub-panel'-->
		<div class='panel panel-default'>
			<div class='panel-heading mst-menu-title' id='mst-node-menu'>
				<b id>Node Style</b>
				<span id='mst-node-menu-icon' class="glyphicon glyphicon-menu-right"></span>
			</div>
			<!-- CUSTOM - SEVERAL CHANGES FROM ORIGINAL PANEL
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<div class="panel-body" id='mst-node-menu-panel'>
				<div class="panel-body-section">
					<!-- custom addition -->
					<label>Colour By:</label>
					<!--br-->
					<select id='metadata-select'>
						<!--select style="width:160px" id='metadata-select'-->
						<!--option value='nothing'>No category</option-->
					</select>
				</div><!-- ./panel-body-section -->
				<!--hr-->
				<div class="panel-body-section">
					<!-- custom addition -->
					<!-- CUSTOM
					–––––––––––––––––––––––––––––––––––––––––––––––––– -->
					<div class="help help-tooltip" onclick="getHelpBox('show_labels');">
						<img src="cohesive-theme/img/iconic/help-circle.svg" alt="Suggerimento">
					</div>
					<!--
					–––––––––––––––––––––––––––––––––––––––––––––––––– -->
					<label>
						<input id='show-node-labels' type="checkbox" checked /> Show Labels
					</label>
					<!--span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="getHelpBox('show_labels');"></span-->
					<select id='node-label-text'></select>
					<!--select style='width:160px' id='node-label-text'></select-->
					<!--br-->
					<div class="spinner-box">
						<!-- added -->
						<label>Font Size:</label>
						<!--br-->
						<div id="slider-node-fontsize" class="slider-class"></div>
						<div class="spin-container">
							<!-- added -->
							<input type='text' id='spinner-node-fontsize' class='spin-group'>
							<!--input type='text' style='width:20px;height:15px' id='spinner-node-fontsize' class='spin-group'-->
						</div>
					</div>
					<!--br-->
				</div><!-- ./panel-body-section -->
				<!--hr-->
				<div class="panel-body-section">
					<!-- custom addition -->
					<!--span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="getHelpBox('node_size');"></span-->
					<!-- CUSTOM
					–––––––––––––––––––––––––––––––––––––––––––––––––– -->
					<div class="help help-tooltip" onclick="getHelpBox('node_size');">
						<img src="cohesive-theme/img/iconic/help-circle.svg" alt="Suggerimento">
					</div>
					<!--
					–––––––––––––––––––––––––––––––––––––––––––––––––– -->
					<div class="spinner-box spinner-box-no-margin">
						<!-- added class -->
						<!--span onclick="$('#spinner-nodesize').spinner('value', 100)" class='glyphicon glyphicon-fast-backward'></span-->
						<!-- removed element, not needed -->
						<!-- label>&nbsp;&nbsp;Node Size (%)</label -->
						<!-- cleaned -->
						<label>Node Size (%)</label>
						<!--br-->
						<div id="slider-nodesize" class="slider-class"></div>
						<div class="spin-container">
							<!-- added -->
							<input type='text' id='spinner-nodesize' class='spin-group'>
						</div>
					</div>
					<div class="spinner-box show-tooltip" title="Node size relative to number of strains">
						<!-- added spinner-box class -->
						<!--span onclick="$('#spinner-relative-nodesize').spinner('value', 100)" class='glyphicon glyphicon-fast-backward'></span-->
						<!-- removed -->
						<label>Kurtosis (%)</label>
						<!--label>&nbsp;&nbsp;Kurtosis (%)</label-->
						<!-- cleaned -->
						<!--br-->
						<div id="slider-relative-nodesize" class="slider-class"></div>
						<div class="spin-container">
							<!-- added -->
							<input type='text' id='spinner-relative-nodesize' class='spin-group'>
						</div>
					</div>
				</div><!-- ./panel-body-section -->
				<!--hr-->
				<div class="panel-body-section">
					<!-- custom addition -->
					<label>Highlight Label</label>
					<!--br-->
					<!--input size="11" id='search-metadata-input'-->
					<!-- cleaned -->
					<input id='search-metadata-input'>
					<!--span id='search-metadata-icon' class='add-data-icon glyphicon glyphicon-search'></span-->
					<button id='search-metadata-icon'>Cerca</button>
					<!--br-->
					<!-- label>
					<input id ='show-individual-segments' type="checkbox" /> Show Pie Chart
				</label -->
					<!--br-->
				</div><!-- ./panel-body-section -->
				<div class="panel-body-section">
					<!-- custom addition -->
					<label>
						<input id='show-individual-segments' type="checkbox" /> Show Pie Chart
					</label>
				</div><!-- ./panel-body-section -->
			</div>
		</div>
		<!-- CUSTOM - SUBPANEL EXTRACTION
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<!--div class='panel panel-default sub-panel'-->
		<div class='panel panel-default'>
			<div class='panel-heading mst-menu-title' id='mst-link-menu'>
				<b id>Branch Style</b>
				<span id='mst-link-menu-icon' class='glyphicon glyphicon-menu-right'> </span>
			</div>
			<!-- CUSTOM - SEVERAL CHANGES FROM ORIGINAL PANEL
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<div class="panel-body" id='mst-link-menu-panel'>
				<div class="panel-body-section">
					<!-- custom addition -->
					<!-- CUSTOM
					–––––––––––––––––––––––––––––––––––––––––––––––––– -->
					<div class="help help-tooltip" onclick="getHelpBox('branch_labels');">
						<img src="cohesive-theme/img/iconic/help-circle.svg" alt="Suggerimento">
					</div>
					<!--
					–––––––––––––––––––––––––––––––––––––––––––––––––– -->
					<label>
						<input id='show-link-labels' type="checkbox" /> Show Labels
					</label>
					<!--span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="getHelpBox('branch_labels');"></span-->
					<!--br-->
					<div class="spinner-box">
						<!-- added -->
						<label>Font Size:</label>
						<!--br-->
						<div id="slider-linkfontsize" class="slider-class"></div>
						<!--input type='text' style='width:20px;height:15px' id ='spinner-linkfontsize' class='spin-group'-->
						<input type='text' id='spinner-linkfontsize' class='spin-group'>
					</div>
					<!--br-->
				</div>
				<div class="panel-body-section">
					<!-- custom addition -->
					<div class="spinner-box">
						<!-- added -->
						<!--span onclick="$('#spinner-linklength').spinner('value', 100)" class='glyphicon glyphicon-fast-backward'></span-->
						<!-- removed - not needed -->
						<!--label>&nbsp;&nbsp;Scaling (%)</label-->
						<!-- cleaned -->
						<label>Scaling (%)</label>
						<!--br-->
						<div id="slider-linklength" class="slider-class"></div>
						<input type='text' id='spinner-linklength' class='spin-group'>
					</div>
					<div class="spinner-box show-tooltip" title="Collapse branches below a certain value">
						<!-- added class spinner-box -->
						<!--span onclick="$('#spinner-collapse-nodes').spinner('value', 0)" class='glyphicon glyphicon-fast-backward'></span-->
						<!-- removed - not needed -->
						<!--label>&nbsp;&nbsp;Collapse Branches</label-->
						<!-- cleaned -->
						<label>Collapse Branches</label>
						<!--br-->
						<div id="slider-collapse-nodes" class="slider-class"></div>
						<input type='text' id='spinner-collapse-nodes' class='spin-group'>
					</div>
					<label>
						<input id='link-log-scale' type="checkbox" /> Log Scale
					</label>
				</div>
				<div class="panel-body-section">
					<!-- custom addition -->
					<!-- CUSTOM
					–––––––––––––––––––––––––––––––––––––––––––––––––– -->
					<div class="help help-tooltip" onclick="getHelpBox('branch_cutoffs');">
						<img src="cohesive-theme/img/iconic/help-circle.svg" alt="Suggerimento">
					</div>
					<!--
					–––––––––––––––––––––––––––––––––––––––––––––––––– -->
					<!--span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="getHelpBox('branch_cutoffs');"></span-->
					<!--label>For branches <br> longer than:<input type='text' id ='spinner-link-length' class='spin-group'></label-->
					<!-- cleaned -->
					<div class="spinner-box">
						<label>For branches longer than:</label>
						<input type='text' id='spinner-link-length' class='spin-group'>
					</div>
					<div class="branches-options">
						<!-- used in place of table -->
						<label>
							<input type="radio" id="handle-long-branch-display" name="handle-long-branch" value="display" checked="" style="opacity: 1;"> Display
						</label>
						<label>
							<input type="radio" id="handle-long-branch-hide" name="handle-long-branch" value="hide" style="opacity: 1;"> Hide
						</label>
						<label>
							<input type="radio" id="handle-long-branch-cap" name="handle-long-branch" value="cap" style="opacity: 1;"> Shorten
						</label>
					</div>
					<!--table><tbody><tr>
				<td>
					<div style="opacity: 1;"><input type="radio" id="handle-long-branch-display" name="handle-long-branch" value="display" checked="" style="opacity: 1;">Display</div>
				</td>
				<td style="padding-left:10px">
					<div style="opacity: 1;"><input type="radio" id="handle-long-branch-hide" name="handle-long-branch" value="hide" style="opacity: 1;">Hide</div>
				</td>
				<td style="padding-left:10px">
					<div style="opacity: 1;"><input type="radio" id="handle-long-branch-cap" name="handle-long-branch" value="cap" style="opacity: 1;">Shorten</div>
				</td>
			</tr></tbody></table-->
				</div>
			</div>
		</div>

		<div class='panel panel-default'>
			<div class='panel-heading mst-menu-title' id='mst-layout-menu'>
				<b id>Rendering</b>
				<span id='mst-layout-menu-icon' class="glyphicon glyphicon-menu-right"></span>
			</div>
			<div class="panel-body" id='mst-layout-menu-panel'>
				<!-- CUSTOM
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
				<div class="help help-tooltip" onclick="getHelpBox('rendering');">
					<img src="cohesive-theme/img/iconic/help-circle.svg" alt="Suggerimento">
				</div>
				<!--
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
				<!--span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="getHelpBox('rendering');"></span-->
				<!--div-->
				<div class="rendering-options">
					<label>
						<input type='radio' name='render-method' class='render-method' value='automatic' /> <b>Dynamic</b>
					</label>
					<!--/div-->
					<!--div style='margin-left:20px;font-size:90%' !-->
					<label class="sub-label">
						<input id='render-selected-only' type="checkbox" checked /> Selected Only
					</label>
					<!--/div-->
				</div>
				<div class="rendering-options">
					<!--div style="margin-top:20px"-->
					<label>
						<input type='radio' name='render-method' class='render-method' value='static' checked /> <b>Static</b>
					</label>
					<!--/div-->
					<!--div style='margin-left:20px;font-size:90%'-->
					<label class="sub-label">
						<input id='correct_link_length' type="checkbox" checked /> Real Branch Length
					</label>
					<!--/div-->
				</div>
			</div>
		</div>

		<!-- ADDED PANEL TO INTERACT WITH LEGEND -->
		<div class='panel panel-default'>
			<div class='panel-heading mst-menu-title' id='mst-legend-menu'>
				<b>Legend</b>
				<span id='mst-legend-menu-icon' class='glyphicon glyphicon-menu-right'> </span>
			</div>
			<div class="panel-body" id='mst-legend-menu-panel'>
				<div class="panel-body-section">
					<!--div class="help help-tooltip" onclick="getHelpBox('branch_labels');">
						<img src="genpat-theme/img/iconic/help-circle.svg" alt="Suggerimento">
					</div-->
					<button id="legend-select-all">Select all items</button>
					<button id="legend-invert-selection">Invert slection</button>
  				<button id="legend-clean-selection">Clean selection</button>
				</div>
				<div class="panel-body-section">
					<!-- <button  id="legend-highlight-selection">See selected items</a> -->
  				<button  id="legend-reset">Reset</a>
				</div>
			</div>
		</div>

		<!-- ADDED PANEL TO INTERACT WITH MAP -->
		<div class='panel panel-default'>
			<div class='panel-heading mst-menu-title' id='mst-map-menu'>
				<b>Map</b>
				<span id='mst-map-menu-icon' class='glyphicon glyphicon-menu-right'> </span>
			</div>
			<div class="panel-body" id='mst-map-menu-panel'>
				<div class="panel-body-section">
					<!--div class="help help-tooltip" onclick="getHelpBox('branch_labels');">
						<img src="cohesive-theme/img/iconic/help-circle.svg" alt="Suggerimento">
					</div-->
					<div class="aggregation-options">
						<label>
							<input type="radio" id="handle-aggregate-by-coordinates" name="handle-aggregation-type" value="coordinates" checked="" style="opacity: 1;"> Aggregate by coordinates
						</label>
					</div>
					<select id='map-delta-select' style="opacity: 0.5;" disabled>
				  </select>
					<!--div class="spinner-box">
						<input type='text' id='spinner-mapdelta' class='spin-group'>
					</div-->
				</div>
				<div class="panel-body-section">
					<div class="aggregation-options">
						<label>
							<input type="radio" id="handle-aggregate-by-metadata" name="handle-aggregation-type" value="metadata" style="opacity: 1;"> Aggregate by metadata
						</label>
					</div>
					<select id='metadata-map-select' style="opacity: 0.5;" disabled>
				    <!--option value='nothing'>No category</option-->
				  </select>
				</div>
				<div class="panel-body-section">
					<div class="spinner-box">
						<label>Min marker radius</label>
						<input type='text' id='map-point-min-radius' class='spin-group'>
					</div>
					<div class="spinner-box">
						<label>Max marker radius</label>
						<input type='text' id='map-point-max-radius' class='spin-group'>
					</div>
  				<button id="reset-map-point-delta-radius">Reset default</a>
				</div>
			</div>
		</div>

		<div class='panel panel-default'>
			<div class='panel-heading mst-menu-title' id='right-menu'>
				<b id>Context Menu</b>
				<span id='right-menu-icon' class='glyphicon glyphicon-menu-right'> </span>
			</div>
			<div class="panel-body" id='right-menu-panel'>
				<!-- CUSTOM
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
				<div class="help help-tooltip" onclick="getHelpBox('context_menu');">
					<img src="cohesive-theme/img/iconic/help-circle.svg" alt="Suggerimento">
				</div>
				<!--
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
				<!--span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="getHelpBox('context_menu');"></span-->
				<!-- CUSTOM - in place of the 3 divs in comment below
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
				<ul class="open-context">
					<li><a id='mst-svg-x'>GrapeTree</a></li>
					<li><a id='myGrid-x'>Metadata</a></li>
					<li><a id='legend-svg-x'>Figure Legend</a></li>
				</ul>
				<!--
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
				<!--div class='open-context' id='mst-svg-x' style='font-size:110%;margin:10px'>GrapeTree</div>
			<div class='open-context' id='myGrid-x' style='font-size:110%;margin:10px'>Metadata</div>
			<div class='open-context' id='legend-svg-x' style='font-size:110%;margin:10px'>Figure Legend</div-->
			</div>

		</div>
	</div>
	<!-- CUSTOM
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="graph-tools">
		<div class="graph-tool graph-tool-settings" onclick="toggleAside()">Edit</div>
		<div class="graph-tool graph-tool-map" onclick="toggleMap()">Map</div>
		<!-- <div class="graph-tool graph-tool-zoom-in" onclick="javascript:the_tree.setScale(1.1,true)">Zoom In</div> -->
		<!-- <div class="graph-tool graph-tool-zoom-out" onclick="javascript:the_tree.setScale(0.9,true)">Zoom Out</div> -->
		<div class="graph-tool graph-tool-full-screen" onclick="openFullscreen()">Full Screen</div>
		<div class="graph-tool graph-tool-close-full-screen" onclick="closeFullscreen()">Close Full Screen</div>
	</div>
	<!--
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div id="graph-div" class="graph-overlay"></div>
	<div id="map-div"></div>

	<script src="static/js/main/bootstrap.min.js"></script>
	<script charset="utf-8" src="static/js/main/d3.min.js"></script>
	<script charset="utf-8" src="static/js/main/spin.min.js"></script>
	<script charset="utf-8" src="static/js/tree/base_tree.js?version=1"></script>
	<script charset="utf-8" src="static/js/tree/d3_m_tree.js?version=1"></script>
	<script charset="utf-8" src="static/js/tree/grapetree_fileHandler.js?version=1"></script>
	<script src="static/js/tree/tree_extended.js"></script>
	<script src="static/js/tree/tree_interceptor.js"></script>
	<script src="static/js/tree/legend.js"></script>
	<!-- LeafletJS JS -->
  <script src="static/js/map/leaflet.js"></script>
  <script src="static/js/map/leaflet-canvasicon.js"></script>
  <script src="static/js/map/leaflet-piechart.js"></script>
	<script src="static/js/map/map.js"></script>
	<script>
		var tree_id = null
	</script>

	<!--
{% if tree_id%}
{% include 'ms_tree/enterobase_generic_tree.html' %}
{%endif %}
-->
	<script charset="utf-8">
		var context_menu = null;
		var metadata_grid = null;
		var the_tree = null;

		// getHelpBox('load_files')
		var tree_raw = {};
		var current_metadata_file = null;

		var waiting_spinner = null;
		var metadata_categories = {};

		var cannot_connect = false;

		var default_control_panel_values = {
			max_link_scale: 500,
			base_node_size: 10,
			max_link_length: "",
			size_power: 0.5,
			log_link_scale: false,
			show_individual_segments: false,
			link_font_size: 14,
			show_link_labels: false,
			show_node_labels: false,
			node_font_size: 12,
			hide_link_length: "",
			node_collapsed_value: 0
		};
		var changeCounter = 0;
		var filtered_nodes = [];

		var tooltip_div = d3.select("body")
			.append("div")
			.attr("class", "tooltip")
			.style("opacity", 0)
			.style("z-index", 9)

		var legend_colour_chooser = $("<input>").spectrum({
											  //type: "flat",
											  togglePaletteOnly: "true",
											  showInput: "true",
											  showInitial: "true",
											  allowEmpty: "false",
											  showAlpha: "false",
											  change: function(e) {
												var cc  = $(this);
												the_tree.setColour(cc.data("category"),cc.data("value"),cc.val());
												the_tree.changeCategory(cc.data("category"));
												var is_empty = Object.keys(the_legend.values).length === 0;
												if(!is_empty) {
													the_legend.legendRetrieveSelection();
												}
												if(the_legend.is_active) {
													the_legend.legendHighlightSelection();
												}
											}})
											.hide();

		$("body").append(legend_colour_chooser);

		$("#welcome-div").draggable().css({
			position: 'relative',
			border: '1px solid black',
			margin: '10px',
			'z-index': 9999
		}).hide();

		//a map of group to another map of name to label
		var metadata_options = {};
		// var file_chooser = new MSFileChooser(".nwk");
		var file_chooser = new MSFileChooser(".json");

		//update all the select options
		function addMetadataOptions(options) {
			var fields = Object.keys(options).sort(function(m, n) {
				return m === 'nothing' ? -1 : n === 'nothing' ? 1 : ((m < n) ? -1 : 1)
			});
			for (var fld_id in fields) {
				var value = fields[fld_id];
				var obj = options[value];
				var category = null;
				var label = ""
				if (typeof obj === 'object') {
					label = obj['label'];
					category = obj['category'];

				} else {
					label = obj;
				}
				var append_to_1 = $("#metadata-select");
				var append_to_2 = $("#node-label-text")
				if (category) {
					if (!metadata_categories[category]) {
						metadata_categories[category] = true;
						append_to_1 = $("<optgroup>").attr("label", category);
						append_to_1_map = $("<optgroup>").attr("label", category);
						append_to_2 = $("<optgroup>").attr("label", category);
						$("#metadata-select").append(append_to_1);
						$("#node-label-text").append(append_to_2);
					} else {
						var to_find = "[label='" + category + "']";
						append_to_1 = $("#metadata-select").find(to_find);
						append_to_2 = $("#node-label-text").find(to_find);

					}

				}
				append_to_1.append($("<option>").attr("value", value).text(label));
				append_to_2.append($("<option>").attr("value", value).text(label));
				
				the_map.metadata_delta_options.push(value);
				
			}
		}

		function deleteMetadataCategory() {
			var category = $("#add-new-values-select").val();
			the_tree.removeCategory(category);
			$("#metadata-select option[value='" + category + "']").remove();
			$("#metadata-map-select option[value='" + category + "']").remove();
			$("#node-label-text option[value='" + category + "']").remove();
			$("#add-new-values-select option[value='" + category + "']").remove();
			delete metadata_options[category];

		}

		function showToolTip(msg, e) {
			if (!e) {
				e = d3.event;
			}
			tooltip_div.transition()
				.duration(200)
				.style("opacity", .9);
			tooltip_div.html(msg)
				.style("left", (e.pageX) + "px")
				.style("top", (e.pageY - 28) + "px")
				.style("height", "auto");
			setTimeout(hideToolTip, 2000);
		}

		function hideToolTip() {
			tooltip_div.transition()
				.duration(500)
				.style("opacity", 0);
		}


		function treeLoaded(tree) {
			//add the extra functionality
			metadata_grid = new D3MSMetadataTable(tree);
			if (tree_id) {
				metadata_grid.setAddColumnFunction(function(name) {
					addCustomColumn(name);
				})
			}
			context_menu = new D3MSTreeContextMenu(tree, metadata_grid);
			metadata_grid.updateMetadataTable();
			//add the ability to show/hide grid,

			//update the dropdowns if new options added
			tree.addTreeChangedListener(function(type, data) {
				if (type === 'metadata_options_altered') {
					addMetadataOptions(data);
					the_map.setMapControlPanel();
				} else if (type === 'nodes_collapased') {
					$("#spinner-collapse-nodes").val(data);
					$("#spinner-collapse-nodes").spinner('value', data);
					var v = parseFloat(data);
					$("#slider-collapse-nodes").slider('value', Math.log(v) * 1000);
				}
			});

			tree.addDisplayChangedListener(function(type, data) {
				if (type === 'category_changed') {
					$("#metadata-select").val(data);
					
					// check if map delta selected is metadata
					if (the_map.default_delta_type == "metadata") {
						the_map.default_delta = data;
					}
					
					// clean legend selction consequences
					if (the_legend.is_active) {
						var lines = document.querySelectorAll('#vis line');
						for (var i = 0; i < lines.length; i++) {
							lines[i].setAttribute('style', 'stroke: black; opacity: 1;');
						}
					}
					
					// assign the legend cat
					the_legend.cat = data;

					if (changeCounter < 1) {
						the_map.definePoints();
					} else {
						the_map.defineMarkers();
					}
					changeCounter++;
				}
				/**
				 * 
				 * Add tools to legend
				 *
				 */
				var svg_legend = document.querySelector('#legend-svg');
				var svg_legend_parent = svg_legend.parentElement;
				svg_legend_parent.setAttribute('id', 'legend-tools-container');
				var legend_tools = document.querySelector('#legend-tools');
				if (!legend_tools) {
					legend_tools = document.createElement('div');
					legend_tools.setAttribute('id', 'legend-tools');
					legend_tools.innerHTML = '<div class="no-drag legend-tool legend-tool-settings" onclick="the_legend.toggleLegendSettings()"></div>\
					<div class="no-drag legend-tool legend-tool-select-all" onclick="the_legend.legendSelectAll()"></div>\
					<div class="no-drag legend-tool legend-tool-invert-selection" onclick="the_legend.legendInvertSelection()"></div>\
					<div class="no-drag legend-tool legend-tool-clean-selection" onclick="the_legend.legendCleanSelection()"></div>\
					<div class="no-drag legend-tool legend-tool-play-selection" onclick="the_legend.legendPlaySelection(this)"></div>\
					<div class="no-drag legend-tool legend-tool-reset" onclick="the_legend.legendReset()"></div>';
					svg_legend_parent.appendChild(legend_tools);
				}
			});

			tree.legendItemClicked = function(data){
				legend_colour_chooser.spectrum("set", data.colour);
				//.css({"left":0,"top":0})
				//.val(data.colour)
				legend_colour_chooser.data({"value":data.value.split("  [")[0],"category":data.category});
				//legend_colour_chooser.spectrum("show");
				setTimeout(function(){legend_colour_chooser.spectrum("show");}, 50);
			};

			/**
	     * 
	     * Select an item in the legend, function added in base tree (see CHANGE_LOG.md).
	     * 
	     */
			tree.legendItemTextClicked = function(data) {
				if(!$("#legend-tools").hasClass("active")) {
					$("#legend-tools").addClass("active");
				}
				var target = $(data.target);
				if (target.attr('class') == 'selected') {
					target.attr('class', 'not-selected');
					// delete values
					delete the_legend.values[data.real];
					// remove data.value from items array
					the_legend.items = the_legend.items.filter(function(item) {return item !== data.value});
				} else {
					target.attr('class', 'selected');
					the_legend.values[data.real] = data.colour;
					the_legend.items.push(data.value);
				}
				the_legend.cat = data.category;
				the_legend.legendHighlightSelection();
			};

			$("#spinner-link-length").spinner({
				min: 0,
				max: tree.max_link_distance,
				step: Math.max(1e-6, (tree.max_link_distance / 1000.0).toPrecision(1)),
			});
			$("#spinner-collapse-nodes").data('branches', $.unique(tree.original_links.map(function(d) {
				return d.distance
			}).sort(function(d1, d2) {
				return d1 - d2
			})));
			$("#spinner-collapse-nodes").spinner({
				min: 0,
				max: tree.max_link_distance,
				value: tree.node_collapsed_value,
				step: 1e-6,
			});

			$("#slider-collapse-nodes").slider({
				min: Math.log(1e-7) * 1000,
				max: Math.log(tree.max_link_distance + 0.01) * 1000,
				value: Math.log(tree.node_collapsed_value) * 1000,
			});
			tree.centerGraph();
			tree.resize();
			$(waiting_spinner.el).hide();
			$("#waiting-information").text("Complete. Tree has " + tree.force_nodes.length + " nodes");
			$("#waiting-image").attr("src", "static/js/img/ms_complete_1.png").show();
			// legend_colour_chooser.hide();
			$("#information-div").modal("hide");

			the_map.initMap();
		}

		function setControlPanel(data) {
			$("#slider-linklength").slider("value", Math.log(data['max_link_scale'] / 5.) * 1000.0);
			$("#spinner-linklength").val(data['max_link_scale'] / 5.);

			$("#slider-nodesize").slider("value", data['base_node_size'] * 10);
			$("#spinner-nodesize").val(data['base_node_size'] * 10);

			if (data['max_link_length']) {
				$("#spinner-link-length").val(data['max_link_length']);
				$("#handle-long-branch-hide").prop("checked", true);
			} else if (data['hide_link_length']) {
				$("#spinner-link-length").val(data['hide-link-length']);
				$("#handle-long-branch-cap").prop("checked", true);
			}

			if (data['size_power']) {
				$("#slider-relative-nodesize").slider("value", data['size_power'] * 200.0);
				$("#spinner-relative-nodesize").val(data['size_power'] * 200.0);
			}

			if (data['log_link_scale']) {
				$('#link-log-scale').prop('checked', true);
			}
			if (data['show_individual_segments']) {
				$("#show-individual-segments").prop("checked", true);
			}
			if (data['link_font_size']) {
				$("#slider-linkfontsize").slider("value", data['link_font_size']);
				$("#spinner-linkfontsize").spinner("value", data['link_font_size']);
			}
			var sll = true;
			if (data['show_link_labels'] === false) {
				sll = false;
			}

			$("#show-link-labels").prop("checked", sll);
			$("#show-node-labels").prop("checked", data['show_node_labels']);
			if (data['node_font_size']) {
				$("#slider-node-fontsize").slider("value", data['node_font_size']);
				$("#spinner-node-fontsize").spinner("value", data['node_font_size']);
			}
			var col_value = data['node_collapsed_value'] ? data['node_collapsed_value'] : 0;
			$("#slider-collapse-nodes").slider("value", Math.log(col_value) * 1000);
			$("#spinner-collapse-nodes").val(col_value);
		}



		function treeLoading(tree, msg) {
			if (msg === 'complete') {
				treeLoaded(tree);
			} else {
				$("#waiting-information").text(msg);
			}
		}

		function loadFailed(msg) {
			$("#information-div").modal("show");
			$(waiting_spinner.el).hide();
			$("#waiting-image").attr("src", "static/js/img/ms_failed_1.png").show();
			$("#waiting-information").text(msg);
		}

		function loadMSTree(data) {
			// $("#welcome-div").toggle();
			metadata_options = {};
			if (the_tree) {
				the_tree.svg.remove();
				the_tree.legend_div[0].remove();
				//resetGridColumns();
				$("#metadata-select").find("option").remove();
				$("#node-label-text").find("option").remove();
				$("#metadata-div").remove();
				$("#context-menu").remove();
			}
			$("#waiting-information").text("Loading Data");
			the_tree = null;
			the_tree = new D3MSTree(
				"graph-div", JSON.parse(JSON.stringify(data)),
				function(tree, msg) {
					treeLoading(tree, msg);

			});

			// tree_interceptor(the_tree, (groupedNods) => console.log(groupedNods));
			tree_interceptor(the_tree, (groupedNods) => the_map.findNodesInMap(groupedNods));
			
			the_tree.addSegmentOverListener(function(d) {
				if ($("#show-node-tooltip").prop("checked")){
						if (the_tree.display_category === 'nothing') {
							var node_ids = the_tree.grouped_nodes[d.data.idx];
							var value = $.map(node_ids, function(idx) {return the_tree.metadata[idx].Name ? the_tree.metadata[idx].Name : the_tree.metadata[idx].ID}).join('<br>');
							showToolTip(value);
						} else {
							var display = d.data.type;
							showToolTip(display+"("+d.data.value+")");
						}
				}
			});
			the_tree.addSegmentOutListener(function(d) {
				hideToolTip();
			});
			the_tree.addLinkOverListener(function(d) {
				if ($("#show-node-tooltip").prop("checked")) {
					showToolTip("length:" + d.value);
				}

			});
			the_tree.addLinkOutListener(function(d) {
				hideToolTip();
			});
			the_tree.resize();

			// commented to avoid a double call for metadata_info
			/*if (the_tree.metadata_info) {
				addMetadataOptions(the_tree.metadata_info);
			}*/
			$("#metadata-select").val('nothing');
			$("#node-label-text").val('ID');

			if (data['initial_category']){
				$("#metadata-select").val(data['initial_category']);
			}
			if (data['layout_data'] && data['layout_data']['nodes_links']) {
				setControlPanel(data['layout_data']['nodes_links'])
			} else {
				setControlPanel(default_control_panel_values);
			}
			if (current_metadata_file) {
				loadMetadataText(current_metadata_file[0], current_metadata_file[1]);
			} else {
				//updateMetadataTable();
				metadata_grid.updateMetadataTable();
			}
			$("#rotation-icon").draggable({
				containment: "#sidebar",
				scroll: false,
				start: function(e) {
					// the_tree._dragStarted(the_tree.force_nodes[0], [$("#rotation-icon").position().left, $("#rotation-icon").position().top]);
					// USING e.clientX, e.clientY AS INITIAL PARAMETER MAKE THE ICON POSITION RELATIVE
					the_tree._dragStarted(the_tree.force_nodes[0], [e.clientX, e.clientY]);
				},
				drag: function(e) {
					the_tree._dragging(the_tree.force_nodes[0], [e.clientX, e.clientY]);
				},
				stop: function(e) {
					the_tree._dragEnded(the_tree.force_nodes[0], [e.clientX, e.clientY]);
				},
				revert: true,
				revertDuration: 10,
				helper: function() {
					return $("<div style='cursor:none'><label id='angle-text'></label></div>")
				},
			});
			$("#rotation-icon").on("drag", function(event, ui) {
				var x_dif = ui.helper.position().left - $("#rotation-icon").position().left;
				var y_dif = $("#rotation-icon").position().top - ui.helper.position().top;
				var angle = y_dif !== 0 ? Math.atan(x_dif / y_dif) / Math.PI * 180 : (x_dif === 0 ? 0 : (x_dif > 0 ? 90 : -90));
				if (y_dif < 0) {
					angle = 180 + angle;
				} else if (x_dif < 0) {
					angle = 360 + angle;
				}
				ui.helper.select('.angle-text').text(Math.round(angle) + '\xB0').css({
					'font-size': '1.3rem',
					'font-style': 'bold',
				});

			});

			// css property to set if a tree were loaded
			$('body').removeClass('no-file show-aside');
			$('#save-tree-json').css("opacity", 1).prop("disabled", false);
			$('#mst-download-svg').css("opacity", 1).prop("disabled", false);
		}


		function initiateLoading(msg) {
			// $("#welcome-div-close").show();
			$("#welcome-div").draggable().css({
				position: 'relative',
				border: '1px solid black',
				margin: '10px',
				'z-index': 9999
			}).hide();
			$("#graph-div").empty();
			$("#metadata-select").empty();
			$("#add-new-values-select").empty();
			metadata_options = {};
			showWaitingDialog(msg);
		}

		function showWaitingDialog(msg) {
			$("#information-div").modal("show");
			$("#waiting-image").hide();
			$(waiting_spinner.el).show();
			$("#waiting-information").text(msg).show();
		}


		window.onload = function() {
			
			the_map.setMapControlPanel();

			$(".open-context").on('click', function(e, ui) {
				var id = e.target.id;
				context_menu._trigger_context(id.substring(0, id.length-2), e);
			});

			$(".show-tooltip").on('mouseenter', function(e) {
				showToolTip($(this).attr('title'), {
					pageX: $(this).offset().left + $(this).width() + 10,
					pageY: $(this).offset().top + $(this).height() / 2 + 10
				});
			}).on('mouseleave', function(e) {
				setTimeout(hideToolTip, 200);
			});

			//allow dragging and dropping files
			// dropFiles($("#graph-div"));

			$(".render-method").on("change", function(e) {
				if (this.value == 'static') {
					the_tree.fixAllNodes(document.getElementById("correct_link_length").checked);
				} else if (this.value == 'automatic') {
					the_tree.unfixSelectedNodes(!$("#render-selected-only").is(":checked"));
				}
			});
			$("#handle-long-branch-display, #handle-long-branch-hide, #handle-long-branch-cap").on("change", function(e) {
				var max = $("#spinner-link-length").val();
				if (!max) {
					max = the_tree.max_link_distance + 1;
				}
				if (this.value == 'hide') {
					the_tree.setMaxLinkLength(the_tree.max_link_distance + 1);
					the_tree.setHideLinkLength(max);
				} else if (this.value == 'cap') {
					the_tree.setHideLinkLength(the_tree.max_link_distance + 1);
					the_tree.setMaxLinkLength(max);
				} else {
					the_tree.setMaxLinkLength(the_tree.max_link_distance + 1);
					the_tree.setHideLinkLength(the_tree.max_link_distance + 1);
				}
			});
			$("#spinner-link-length").on('change', function(e, ui) {
				var max = $("#spinner-link-length").val();
				if (!max) {
					max = the_tree.max_link_distance + 1;
				}
				var method = null;
				if ($("#handle-long-branch-hide").prop("checked")) {
					method = 'hide';
				} else if ($("#handle-long-branch-cap").prop("checked")) {
					method = 'cap';
				}
				if (method == 'hide') {
					the_tree.setMaxLinkLength(the_tree.max_link_distance + 1);
					the_tree.setHideLinkLength(max);
				} else if (method == 'cap') {
					the_tree.setHideLinkLength(the_tree.max_link_distance + 1);
					the_tree.setMaxLinkLength(max);
				}
			});

			$("#metadata-select").on("change", function(e) {
				the_tree.changeCategory($(this).val());
			});
			$("#node-label-text").change(function(e) {
				the_tree.setNodeText($(this).val());
			});

			$("#mst-download-svg").click(function(e) {
				saveTextAsFile(the_tree.getSVG(), "MSTree.svg");
			});

			$(".panel-body").hide();

			// all slider spinners
			$(function sliderSpinners() {
				$(".slider-class").slider({
					slide: function(e) {
						$(this).trigger('change');
					},
					change: function(e) {
						if (e.originalEvent) {
							$(this).trigger('change');
						}
					}
				});
				$(".spin-group").spinner({
					spin: function(e, ui) {
						$(this).spinner("value", ui.value);
					},
					change: function(e) {
						$(this).trigger('change', e);
					}
				}).keypress(function(e){
					if (e.which === 13) {
						$(this).trigger('change', e);
					}
				});
				$( "#slider-linklength" ).on("change", function(e) {
							var brlen = Math.exp($(this).slider("value")/1000.0);
							$("#spinner-linklength").spinner('value', brlen);
				})
				.slider({
						orientation: "horizontal",
						min: 1609,
						max: 9903,
						value: 4605,
				});
				
				$("#spinner-linklength").on("change", function (e){
						var brlen = parseInt($(this).val());
						$( "#slider-linklength" ).slider('value', Math.log(brlen)*1000.0);
						the_tree.setLinkLength(brlen*5.0);
				})
				.spinner({
					min: 5,
					max: 20000,
					value: 100,
					step: 1,
				});

				$( "#slider-nodesize" ).on("change", function(e) {
					$( "#spinner-nodesize" ).spinner("value", $(this).slider("value"));
				})
				.slider({
						orientation: "horizontal",
						min:20,
						max:500,
						value: 100,
				});
				$( "#spinner-nodesize" ).on('change', function(){
								the_tree.setNodeSize(parseInt($(this).val())/10.);
								$( "#slider-nodesize" ).slider("value", parseInt($(this).val()));
							})
				.spinner({
						min:20,
						max:500,
						value: 100,
				});


				$( "#slider-relative-nodesize" ).on("change", function(e) {
					$( "#spinner-relative-nodesize" ).spinner("value", $(this).slider("value"));
				})
				.slider({
						orientation: "horizontal",
						min:30,
						max:150,
						value: 100,
						step:1,
				})
				$( "#spinner-relative-nodesize" ).on("change", function(e){
					the_tree.setRelativeNodeSize(parseInt($(this).val())/200.0);
					$( "#slider-relative-nodesize" ).slider("value", parseInt($(this).val()));
				})
				.spinner({
						min:30,
						max:150,
						value: 100,
						step:1,
				});

				$( "#slider-node-fontsize" ).on("change", function(e) {
					$("#spinner-node-fontsize").spinner('value', $(this).slider("value"));
				})
				.slider({
						orientation: "horizontal",
						min:6,
						max: 30,
						value: 12,
				});
				$("#spinner-node-fontsize").on("change", function(e) {
						$( "#slider-node-fontsize" ).slider('value', parseInt($(this).val()));
						the_tree.setNodeFontSize(parseInt($(this).val()));
				})
				.spinner({
					min: 6,
					max: 30,
					value: 12,
				});

				$( "#slider-linkfontsize" ).on("change", function(e) {
					$("#spinner-linkfontsize").spinner('value', $("#slider-linkfontsize").slider("value"));
				})
				.slider({
						orientation: "horizontal",
						min:6,
						max: 30,
						value: 14,
				});
				$("#spinner-linkfontsize").on("change", function(e) {
						$( "#slider-linkfontsize" ).slider('value', parseInt($(this).val()));
						the_tree.setLinkFontSize(parseInt($(this).val()));
				})
				.spinner({
					min: 6,
					max: 30,
					value: 14,
				});


				$( "#slider-charge" ).on("change", function(e) {
					the_tree.alterCharge($("#slider-charge").slider("value"));
					$(this).prop("title", $(this).slider("value"));
				})
				.slider({
					orientation: "horizontal",
					min:0,
					max: 30,
				});

				$( "#slider-collapse-nodes" ).on("change", function(e) {
					var val = Math.exp($(this).slider('value')/1000);
					$("#spinner-collapse-nodes").spinner('value', val);
				 })
				 .slider({
					orientation: "horizontal",
					min:0,
					max: 100,
					value: 0,
				});

				$( "#spinner-collapse-nodes" ).on("change", function(e, ui) {
					var v = parseFloat($("#spinner-collapse-nodes").val());
					if (v != $(this).data.v) {
						$(this).data.v = v;
						$("#slider-collapse-nodes").slider('value', Math.log(v)*1000);
						the_tree.collapseNodes(v);
					}
				})
				.spinner({
					min:0,
					value: 0
				});
			});
			
			// map input events
			$("input[name=handle-aggregation-type]:radio").click(function () {
        if ($('input[name=handle-aggregation-type]:checked').val() == "metadata") {
          $('#metadata-map-select').css("opacity", 1).prop('disabled', false);
          $('#map-delta-select').css("opacity", 0.5).prop('disabled', true);
        } else if ($('input[name=handle-aggregation-type]:checked').val() == "coordinates") {
        	$('#metadata-map-select').css("opacity", 0.5).prop('disabled', true).val("nothing");
          $('#map-delta-select').css("opacity", 1).prop('disabled', false);
					$('#map-delta-select option[value=' + the_map.max_delta +']').prop('selected', true);
        }
    	});
			$("#map-delta-select").on("change", function(e) {
				$(this).addClass('cluster-active');
				$("#metadata-map-select").removeClass('cluster-active');
		    // if (changeCounter != 0) {
					the_map.default_delta_type = "geographical";
					the_map.coordinates_delta = $(this).val();
    			the_map.definePoints(the_map.coordinates_delta, the_map.default_delta_type, filtered_nodes);
				// }
		  });
			$("#metadata-map-select").on("change", function(e) {
				$(this).addClass('cluster-active');
				$("#map-delta-select").removeClass('cluster-active');
		    the_map.default_delta_type = "metadata";
				the_map.metadata_delta = $(this).val();
		    the_map.definePoints(the_map.metadata_delta, the_map.default_delta_type, filtered_nodes);
		  });
			$('#map-point-min-radius').on("change", function(e) {
		    var min_radius = parseInt($('#map-point-min-radius').val());
		    var max_radius = parseInt($('#map-point-max-radius').val());
		    if (min_radius) {
		      the_map.point_min_radius = min_radius;
		    }
		    if (max_radius) {
		      the_map.point_max_radius = max_radius;
		    }
		    the_map.defineMarkers();
		  });
			$('#map-point-max-radius').on("change", function(e) {
		    var min_radius = parseInt($('#map-point-min-radius').val());
		    var max_radius = parseInt($('#map-point-max-radius').val());
		    if (min_radius) {
		      the_map.point_min_radius = min_radius;
		    }
		    if (max_radius) {
		      the_map.point_max_radius = max_radius;
		    }
		    the_map.defineMarkers();
		  });
		  $('#reset-map-point-delta-radius').on("click", function(e) {
		    the_map.point_min_radius = the_map.point_min_radius_default;
		    the_map.point_max_radius = the_map.point_max_radius_default;
		    $('#map-point-min-radius').val(the_map.point_min_radius_default.toString());
		    $('#map-point-max-radius').val(the_map.point_max_radius_default.toString());
		    the_map.defineMarkers();
		  });

			$("#node-label-text").change(function(e) {
				var val = $(this).val();
				if (val === "cat") {
					val = the_tree.display_category;
				}
				the_tree.setNodeText(val);
			});

			$("#show-link-labels").click(function(e) {
				the_tree.showLinkLabels($(this).is(":checked"))
			});
			$("#show-node-labels").click(function(e) {
				the_tree.showNodeLabels($(this).is(":checked"));
			});
			$("#show-individual-segments").click(function(e) {
				the_tree.showIndividualSegments($(this).is(":checked"));
			});

			$("#show-node-tooltip").click(function(e) {
				show_node_tooltips = $(this).is(":checked");
			});

			$("#link-log-scale").click(function(e) {
				the_tree.setLogLinkScale($(this).is(":checked"));
			});

			$("#button-files").click(function(e) {
				file_chooser.setFilter(".json");
				file_chooser.showOpenDialog(function(files) {
					filesDropped(files);
					// diag.dialog("close");
				});
				/* var diag = $('<div id="read-text" title="Paste or read files"></div>').appendTo($('body'))
					.append("<p><label>Paste a tree, profile or metadata here: </label></p>")
					.append("<textarea id='paste-text' rows='10' cols='100'>")
					.append("<p><label>Or load the files directly: </label></p>")
					.append("<button title='Handles trees, profiles and metadata files' id = 'button-load-nwk' class = 'show-tooltip'> Load Files</button>");
				$("#button-load-nwk").click(function(e) {
					file_chooser.setFilter("");
					file_chooser.showOpenDialog(function(files) {
						filesDropped(files);
						diag.dialog("close");
					});
				});

				diag.dialog({
					width: "auto",
					resizable: false,
					height: "auto",
					modal: false,
					close: function() {
						$("#read-text").dialog('destroy').remove();
					},
					buttons: {
						Confirm: function() {
							distributeFile($("#paste-text").val(), '');
							$(this).dialog("close");
						},
						Cancel: function() {
							$(this).dialog("close");
						}
					}
				}); */
			});

			$("#save-tree-json").click(function(e) {
				// get tree as an object
				var obj = the_tree.getTreeAsObject();
				// append to tree object map elements: geoJSON and options
				if (the_map.geojson && the_map.geojson.length > 0) {
					obj.geoJson = JSON.parse(the_map.geojson);
					obj.map_obj = the_map;
				}
				var json = JSON.stringify(obj);
				saveTextAsFile(json, "grapetree.json");
			});

			/* $("#save-tree-nwk").click(function(e) {
				saveTextAsFile(the_tree.getTreeAsNewick(), "ms_tree.nwk");
			}); */

			$("#center-graph-button").click(function(e) {
				the_tree.centerGraph();
			});

			$("#button-refresh").click(function() {
				showWaitingDialog("Refreshing The Tree");
				setTimeout(function() {
					the_tree.refreshGraph();
					$("#information-div").modal("hide");
				}, 500)
			});

			$("#search-metadata-icon").click(function(e) {
				var keyword = $("#search-metadata-input").val();
				if (keyword){
					var ids = the_tree.searchMetadata(keyword, $("#node-label-text").val());
					the_tree.highlightNodes(ids);
				}
			});

			$("#graph-div").on('dblclick', function(e) {
				if (the_tree) the_tree.clearSelection();
			});

			var target = document.getElementById('modal-header');
			waiting_spinner = new Spinner({
				color: 'black',
				lines: 12,
				top: "13%"
			}).spin(target);

			// css property to set if there are no file to retreive in the url
			$('body').addClass('no-file show-aside');
			if (!tree_id) {
				$("#file-menu-panel").css("opacity", 1.0).addClass("open-menu-panel").show();
				$("#button-files").parent().css('opacity', 1.0);
				$("#button-files").css("opacity", 1.0).prop("disabled", false).trigger('mouseenter');
				$('#save-tree-json').css("opacity", 0.5).prop("disabled", true);
				$('#mst-download-svg').css("opacity", 0.5).prop("disabled", true);
			}

			window.addEventListener("beforeunload", function(e) {
				if (the_tree) {
					var confirmationMessage = 'All the modifications will lost if you have not saved the GrapeTree as a local file.';
					(e || window.event).returnValue = confirmationMessage;
					return confirmationMessage;
				}
			});
			if (tree_id) {
				setupEnterobasePanel();
				initiateLoading("Waiting");
				getRemoteData();
			} else {
				$("#file-menu-panel").css("opacity", 1.0).addClass("open-menu-panel").show();
				$("#button-files").parent().css('opacity', 1.0);
				$("#button-files").css("opacity", 1.0).prop("disabled", false).trigger('mouseenter');
			}

			$(".mst-menu-title").click(function(e) {
				if ($(this).prop("disabled") === true) {
					return;
				}
				var id = $(this).attr("id");
				var this_panel = $("#" + id + "-panel");
				var icon = $("#" + id + "-icon");
				if (this_panel.hasClass("open-menu-panel")) {
					this_panel.toggle("50");
					this_panel.removeClass("open-menu-panel");
					icon.attr("class", "glyphicon glyphicon-menu-right");
				} else {
					this_panel.toggle("50");
					this_panel.addClass("open-menu-panel");
					icon.attr("class", "glyphicon glyphicon-menu-down");
				}
			});
			// try_backend();
			loadNetFiles();
		};

		$("#button-goback").click(function(e) {
			// loadMSTree(tree_raw);
			location.reload();
		});

		$("#legend-highlight-selection").on("click", the_legend.legendHighlightSelection);
		$("#legend-reset").on("click", the_legend.legendReset);
		$("#legend-select-all").on("click", the_legend.legendSelectAll);
	  $("#legend-clean-selection").on("click", the_legend.legendCleanSelection);
		$("#legend-invert-selection").on("click", the_legend.legendInvertSelection);

		/*function try_backend() {
			try {
				$.ajax({
						method: "POST",
						url: "/maketree",
					}).done(function(result) {})
					.fail(function(jqXHR, textStatus) {
						if (jqXHR.status != 406) {
							cannot_connect = true;
						}
					});
			} catch (e) {
				cannot_connect = true;
			}
		};*/

		const bodyEl = document.body;

		function toggleAside() {
			if (!bodyEl.classList.contains('no-file')) {
				bodyEl.classList.toggle("show-aside");
			}
		}

		function toggleMap() {
			if (!bodyEl.classList.contains('no-file')) {
				bodyEl.classList.toggle("show-map");
				setTimeout(function(){
					var graph = bodyEl.querySelector("#graph-div");
					var graph_w = graph.offsetWidth;
					var graph_h = graph.offsetHeight;
					var graph_svg = graph.querySelector("#mst-svg");
					graph_svg.setAttribute("height", graph_h);
					graph_svg.setAttribute("width", graph_w);
					graph_svg.getElementsByTagName("rect")[0].setAttribute("height", graph_h);
					graph_svg.getElementsByTagName("rect")[0].setAttribute("width", graph_w);
					var graph_svg_g = graph_svg.querySelector('#vis');
					the_tree.resize();
					// var graph_translation = "translate(-" + graph_w/2 + ",0) scale()" ;
					// graph_svg_g.setAttribute("transform", "");
				}, 400);
			}
		}

		/* View fullscreen */
		function openFullscreen() {
			if (!bodyEl.classList.contains('no-file')) {
				bodyEl.classList.toggle("show-fullscreen");
				if (bodyEl.requestFullscreen) {
					bodyEl.requestFullscreen();
				} else if (bodyEl.webkitRequestFullscreen) { /* Safari */
					bodyEl.webkitRequestFullscreen();
				} else if (bodyEl.msRequestFullscreen) { /* IE11 */
					bodyEl.msRequestFullscreen();
				}
			}
		}

		/* Close fullscreen */
		function closeFullscreen() {
			bodyEl.classList.toggle("show-fullscreen");
			if (document.exitFullscreen) {
				document.exitFullscreen();
			} else if (document.webkitExitFullscreen) { /* Safari */
				document.webkitExitFullscreen();
			} else if (document.msExitFullscreen) { /* IE11 */
				document.msExitFullscreen();
			}
		}

		$(window).resize(function() {
	    setTimeout(function() {
	      if(the_tree) {
					the_tree.resize();
				}
	    }, 100);
	  });

	</script>
</body>

</html>
